.style-0,
.style-1,
.style-3 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column
}
.style-0 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjhgfdpq7.png);
  margin-left: 0;
  margin-top: 0;
  width: 375px;
  align-items: flex-end;
  height: 177px
}
.style-1,
.style-3 {
  height: 150px
}
.style-1 {
  margin-top: 0;
  align-items: flex-end;
  background-image: url(https://designresources.assets.yotako.io/40599ukjhgfdq2t.png);
  width: 100%
}
.style-3 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjhgfdqiy.png);
  width: 373px
}
.-image-0-image-1-image-3-row-0 {
  display: flex;
  margin-top: 1px;
  width: 226px;
  height: 3px;
  align-items: stretch;
  align-self: center
}
.style-19,
.style-20 {
  color: #be3600;
  font-family: bebas,serif;
  font-size: .25em;
  margin-left: 0
}
.style-20 {
  margin-left: 162px
}
.-image-0-image-1-image-3-row-1 {
  display: flex;
  margin-left: 71px;
  margin-top: 11px;
  width: 219px;
  height: 9px
}
.style-21 {
  color: #313131;
  font-family: bebas,serif;
  font-size: .625em;
  margin-left: 0;
  height: 100%;
  align-self: stretch
}
.style-18 {
  color: #333;
  text-align: right;
  font-family: myriadpro,serif;
  font-size: .1875em;
  font-weight: 700;
  margin-left: 83px;
  margin-top: 2px;
  height: 2px
}
.-image-0-image-1-image-3-row-2 {
  position: relative;
  display: flex;
  margin-left: 72px;
  margin-top: 2px;
  width: 176px;
  height: 23px
}
.style-15 {
  color: rgba(146,146,146,.78);
  font-family: Ubuntu,serif;
  font-size: .1875em;
  font-weight: 700;
  margin-left: 0;
  margin-top: 16px;
  height: 3px;
  flex-shrink: 0
}
.style-23 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjhgfdqrx.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  border-left: 1px solid rgba(0,1,1,.38);
  border-right: 1px solid rgba(0,1,1,.38);
  border-top: 1px solid rgba(0,1,1,.38);
  border-bottom: 1px solid rgba(0,1,1,.38);
  display: flex;
  margin-left: 86px;
  width: 23px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style-25 {
  color: #454545;
  font-family: 'Open Sans',serif;
  font-size: .1875em;
  font-weight: 700;
  line-height: 6px;
  width: 17px
}
.style-22 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjhgfdqod.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  border-left: 1px solid rgba(0,1,1,.38);
  border-right: 1px solid rgba(0,1,1,.38);
  border-top: 1px solid rgba(0,1,1,.38);
  border-bottom: 1px solid rgba(0,1,1,.38);
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 11px;
  width: 23px;
  height: 23px;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style-17,
.style-24 {
  font-family: 'Open Sans',serif;
  font-weight: 700
}
.style-24 {
  line-height: 6px;
  width: 17px;
  color: #454545;
  font-size: .1875em
}
.style-17 {
  color: #ff6200;
  font-size: .375em;
  margin-left: 72px;
  margin-top: 7px;
  height: 5px
}
.style-16 {
  color: #878787;
  font-family: Ubuntu,serif;
  font-size: .1875em;
  font-weight: 300;
  line-height: 6px;
  margin-left: 73px;
  margin-top: 3px;
  width: 194px
}
.-image-0-image-1-image-3-row-5 {
  display: flex;
  margin-left: 73px;
  margin-top: 14px;
  width: 154px;
  height: 4px;
  align-items: stretch
}
.style-14,
.style-7 {
  color: #ff6200;
  font-family: 'Open Sans',serif;
  font-size: .3125em;
  margin-left: 0
}
.style-7 {
  margin-left: 96px
}
.-image-0-image-1-image-3-row-6 {
  display: flex;
  margin-left: 76px;
  margin-top: 9px;
  width: 159px;
  height: 23px
}
.style-10,
.style-12,
.style-13 {
  color: #878787;
  font-family: Ubuntu,serif;
  font-size: .1875em;
  font-weight: 300;
  margin-left: 0;
  margin-top: 3px;
  height: 2px
}
.style-12,
.style-13 {
  margin-top: 12px;
  height: 3px
}
.style-12 {
  margin-left: 44px
}
.style-8 {
  color: #595959;
  font-family: adobeinvisfont,serif;
  font-size: .25em;
  line-height: 4px;
  margin-left: 59px;
  width: 33px;
  align-self: stretch
}
.style-11 {
  color: #878787;
  font-family: Ubuntu,serif;
  font-size: .1875em;
  font-weight: 300;
  margin-left: 75px;
  margin-top: 0;
  height: 3px
}
.-image-0-image-1-image-3-row-8 {
  display: flex;
  margin-left: 199px;
  margin-top: 11px;
  width: 36px;
  height: 19px
}
.style-5 {
  opacity: .23;
  width: 36px;
  height: 100%
}
.style-6 {
  width: 11px;
  height: 13px
}
.style-2 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjhgfdq5w.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 0;
  width: 352px;
  height: 28px;
  flex-direction: column
}
.style-9 {
  color: #fff;
  font-family: 'Open Sans',serif;
  font-size: .1875em;
  font-weight: 700;
  margin-left: 57px;
  margin-top: 4px;
  height: 3px
}